<html>

<head>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div class="d-flex justify-content-center mt-4">
            <div v-for="i in 6" class="px-1">
                <img width=100px
                    :src="`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${pkmn[i - 1]}.png`"
                    class="border rounded p-2" v-if="pkmn[i - 1]">
                <img v-else="" width=100px src="https://upload.wikimedia.org/wikipedia/commons/4/48/BLANK_ICON.png"
                    class="border rounded p-2">
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <b-form-group v-for="i in 6" :id="`pkmn-group-${i}`" :label="`Pokemon ${i}`" :label-for="`pkmn-${i}`"
                class="px-1">
                <b-form-input :id="`pkmn-${i}`" v-model="pkmn[i-1]" type="number" trim number style="width:100px">
                </b-form-input>
            </b-form-group>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                pkmn: [0, 0, 0, 0, 0, 0]
            }
        })

    </script>
</body>

</html>